/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 18, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
html,
button,
input,
select,
textarea {
  color: #222; }

/* line 22, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 33, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 38, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 47, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
/* line 60, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 68, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 78, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
/* line 86, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*
 * Colors
 * Scheme comes from: http://colorschemedesigner.com/#0041Tojd352Le
 */
/*
 * Fonts
 */
@font-face {
  font-family: 'EntypoRegular';
  src: url("fonts/entypo/entypo.eot");
  src: url("fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("fonts/entypo/entypo.woff") format("woff"), url("fonts/entypo/entypo.ttf") format("truetype"), url("fonts/entypo/entypo.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'EntypoSocial';
  src: url("fonts/entypo/entypo-social.eot");
  src: url("fonts/entypo/entypo-social.eot?#iefix") format("embedded-opentype"), url("fonts/entypo/entypo-social.woff") format("woff"), url("fonts/entypo/entypo-social.ttf") format("truetype"), url("fonts/entypo/entypo-social.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 50, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
body {
  background-color: #FFFEFC;
  color: black;
  font-family: proxima-nova;
  font-size: 18px;
  line-height: 1.5em; }

/* line 58, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
h1, h2, h3, h4 {
  line-height: 1.2em; }

/* line 62, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
h2, h3, h4 {
  font-weight: 600; }

/* line 66, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
h1 {
  color: #324c88;
  font-size: 2.5em;
  font-weight: 700; }

/* line 72, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
h2 {
  color: #a13939;
  font-size: 1.6em; }

/* line 77, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
h3 {
  font-size: 1.2em; }

/* line 81, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
p {
  margin: 1.2em 0; }

/* line 85, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
a {
  color: #1a8e8e;
  text-decoration: none; }
  /* line 89, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
  a:hover {
    color: #ed2c2c;
    text-decoration: underline; }

/* line 95, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
section {
  margin-bottom: 2em; }

/* line 99, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
.container {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 20px; }

/* line 105, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
header {
  overflow: hidden;
  *zoom: 1;
  background-color: #9dd0d0;
  margin-bottom: 40px; }
  /* line 111, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
  header a {
    color: black; }
    /* line 114, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
    header a:hover {
      color: #a13939;
      text-decoration: none; }
  /* line 120, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
  header h1 {
    background: url("../images/logo.png") no-repeat;
    font-size: 55px;
    height: 100px;
    line-height: 1.4em;
    margin: 0 auto;
    padding-left: 90px;
    width: 350px; }
    /* line 129, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
    header h1 a:hover {
      color: black; }
  /* line 134, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
  header nav {
    margin: -35px auto 0 auto;
    padding-left: 90px;
    width: 350px; }

/* line 142, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
nav ul {
  margin: 0 0 0 -8px;
  padding: 0; }
/* line 147, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
nav li {
  display: inline-block; }
  /* line 150, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
  nav li a {
    margin: 0 5px;
    padding: 10px 8px; }
/* line 156, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
nav a {
  display: block; }

/* line 161, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
.social {
  list-style: none;
  padding: 0; }
  /* line 165, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
  .social li {
    line-height: 1.2em;
    margin-bottom: 0.8em; }
  /* line 170, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
  .social a {
    display: inline-block; }
    /* line 173, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
    .social a:hover {
      text-decoration: none; }

/* line 179, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
[data-icon]:before {
  content: attr(data-icon);
  display: inline-block;
  font-family: EntypoRegular;
  font-size: 40px;
  height: 25px;
  width: 40px;
  vertical-align: -3px; }

/* line 189, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
[data-icon-social]:before {
  content: attr(data-icon-social);
  display: inline-block;
  font-family: EntypoSocial;
  font-size: 40px;
  height: 25px;
  width: 40px;
  vertical-align: -3px; }

/* line 199, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
footer {
  background: #a1d5a1;
  margin-top: 50px; }

/* page specific styles */
/* line 206, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
.article-date {
  float: left;
  margin-right: 1em; }

/* line 211, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
.article-details {
  font-size: 0.9em;
  line-height: 1.3em;
  overflow: hidden;
  *zoom: 1; }

/* line 219, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
#writing-list h2 {
  font-size: 1.3em;
  font-weight: normal;
  margin: 0; }
/* line 225, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
#writing-list a {
  color: #a13939; }
  /* line 228, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
  #writing-list a:hover {
    color: #ed2c2c; }
/* line 233, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
#writing-list ul {
  list-style: none;
  padding-left: 0; }
/* line 238, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
#writing-list li {
  margin-bottom: 1.5em; }
/* line 242, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
#writing-list .tags {
  margin: 0; }

/* line 248, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
.writing h1 {
  font-size: 2em;
  margin-bottom: 0.1em; }

/* line 255, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
#past-events h3, #past-events h4 {
  margin: 0.2em 0; }
/* line 259, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
#past-events ul {
  list-style: none;
  padding-left: 0; }
/* line 264, /Users/juri/Dropbox/src/juliepagano.com/source/css/styles.scss */
#past-events li {
  margin-bottom: 1.5em; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 109, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

/* line 117, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 128, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 137, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 154, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 167, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 184, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 189, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 198, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 223, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 231, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 235, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 239, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 249, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  /* line 254, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 259, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  /* line 264, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 268, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 278, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 284, /Users/juri/Dropbox/src/juliepagano.com/source/css/main.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
