/*
 * Colors
 * Scheme comes from: http://colorschemedesigner.com/#0041Tojd352Le
 */
/*
 * Fonts
 */
@font-face {
  font-family: 'EntypoRegular';
  src: url("fonts/entypo/entypo.eot");
  src: url("fonts/entypo/entypo.eot?#iefix") format("embedded-opentype"), url("fonts/entypo/entypo.woff") format("woff"), url("fonts/entypo/entypo.ttf") format("truetype"), url("fonts/entypo/entypo.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'EntypoSocial';
  src: url("fonts/entypo/entypo-social.eot");
  src: url("fonts/entypo/entypo-social.eot?#iefix") format("embedded-opentype"), url("fonts/entypo/entypo-social.woff") format("woff"), url("fonts/entypo/entypo-social.ttf") format("truetype"), url("fonts/entypo/entypo-social.svg#EntypoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 50, styles.scss */
body {
  background-color: #FFFEFC;
  color: black;
  font-family: proxima-nova;
  font-size: 18px; }

/* line 57, styles.scss */
h1 {
  color: #324c88;
  font-size: 2.5em;
  font-weight: 700; }

/* line 63, styles.scss */
h2 {
  color: #a13939; }

/* line 67, styles.scss */
h2, h3, h4 {
  font-weight: 600; }

/* line 71, styles.scss */
a {
  color: #1a8e8e;
  text-decoration: none; }
  /* line 75, styles.scss */
  a:hover {
    color: #ed2c2c;
    text-decoration: underline; }

/* line 81, styles.scss */
.container {
  margin: 0 auto;
  max-width: 760px;
  padding: 0 20px; }

/* line 87, styles.scss */
header {
  overflow: hidden;
  *zoom: 1;
  background-color: #9dd0d0;
  margin-bottom: 50px; }
  /* line 93, styles.scss */
  header a {
    color: black; }
    /* line 96, styles.scss */
    header a:hover {
      color: #a13939;
      text-decoration: none; }
  /* line 102, styles.scss */
  header h1 {
    background: url('../images/logo.png') no-repeat;
    font-size: 55px;
    height: 100px;
    margin: 0 auto;
    padding-left: 90px;
    width: 350px; }
    /* line 110, styles.scss */
    header h1 a:hover {
      color: black; }
  /* line 115, styles.scss */
  header nav {
    margin: -35px auto 0 auto;
    padding-left: 90px;
    width: 350px; }

/* line 123, styles.scss */
nav ul {
  margin: 0 0 0 -8px;
  padding: 0; }
/* line 128, styles.scss */
nav li {
  display: inline-block; }
  /* line 131, styles.scss */
  nav li a {
    margin: 0 5px;
    padding: 10px 8px; }
/* line 137, styles.scss */
nav a {
  display: block; }

/* line 142, styles.scss */
.social {
  list-style: none;
  padding: 0; }
  /* line 146, styles.scss */
  .social li {
    line-height: 1.2em;
    margin-bottom: 0.8em; }
  /* line 151, styles.scss */
  .social a {
    display: inline-block; }
    /* line 154, styles.scss */
    .social a:hover {
      text-decoration: none; }

/* line 160, styles.scss */
[data-icon]:before {
  content: attr(data-icon);
  display: inline-block;
  font-family: EntypoRegular;
  font-size: 40px;
  height: 25px;
  width: 40px;
  vertical-align: -3px; }

/* line 170, styles.scss */
[data-icon-social]:before {
  content: attr(data-icon-social);
  display: inline-block;
  font-family: EntypoSocial;
  font-size: 40px;
  height: 25px;
  width: 40px;
  vertical-align: -3px; }

/* line 180, styles.scss */
footer {
  background: #a1d5a1;
  margin-top: 50px; }
