@import "compass";

$link-color:         #000;
$link-hover-color:   blue;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$font-color:  #2a2a2a;
$font-family: Arial, sans-serif;
$base-font-size:   13px;
$base-line-height: 18px;

$background-color: #87a09d;

$total-cols: 12;
$col-width: 4em;
$gutter-width: 1em;
$side-gutter-width: $gutter-width;

@include global-reset;

body {
  font-size: $base-font-size;
  font-family: $font-family;
  line-height: $base-line-height;
  color: $font-color;
  background: url("../images/background.png") $background-color;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-size: 180%;
  font-weight: bold;

  &.logo {
    width: 325px;
    height: 125px;
    background: url("../images/logo.png") no-repeat;
    @include hide-text;
    margin: -11px 0 -52px 0;

    @media only screen and (max-width: 767px) {
      margin: 0;
      background: url("../images/logo_sm.png") no-repeat;
      width: 300px;
      height: 100px;
    }

    // FIXME: include smaller logo for smallest case
  }
}

h2 {
  font-size: 160%;
  font-weight: bold;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 130%;
}

ul.nav {
  @include inline-list;

  li {
    margin: 0 5px;
  }
}

header {
  background: #5fa69b;
  position: relative;
  margin: 25px 0 0;
  min-height: 60px;
  @include box-shadow(0px 0px 4px #000);

  nav {
    float: right;
    line-height: 60px;
    margin: 0 10px;

    ul.nav {
      font-size: 110%;

      a {
        padding: 5px 10px;
        @include border-radius(5px);
        font-weight: bold;

        &:hover, &.active {
          color: $link-color;
          background: #B5D4D0;
          text-decoration: none;
        }
      }
    }
  }
}

#main {
  .container {
    padding: 0 0 50px 0;
  }
}

#page_title{
  .container {
    padding: 25px 0;
  }
  h1 {
    text-align: center;
    color: #000;
  }
}

footer {
  #ribbon {
    background: url("../images/footer_background.png") #502120;
    color: #fff;
    @include box-shadow(0px 0px 4px #000);
    padding: 0px 0;

    .container {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    div.photo {
      width: 100px;
      height: 100px;
      background-image: url("../images/circle_photo.png");
      float: right;
    }

    .top_edge, .bottom_edge {
      width: 100%;
      height: 13px;
      background: url("../images/footer_background_top_edge.png");
    }
  }

  #footer_menu {
    padding: 10px 0;

    @media only screen and (max-width: 767px) {
      text-align: center;
    }
  }

  .copyright {
    text-align: right;
    @media only screen and (max-width: 767px) {
      text-align: center;
    }
  }

  ul.nav {
    a{
      &:hover, &.active {
        font-weight: bold;
      }
    }
  }
}


#twitter {
  h4 {
    margin: 0 0 0 30px;
    padding: 0 0 0 30px;
    background: url("../images/twitter_bird.png") no-repeat left bottom;

    a{
      color: #fff;
    }
  }

  #twitter_bird {
    background: url("../images/twitter_bird.png") no-repeat;
    width: 25px;
    height: 17px;
    float: left;
    margin: 0 0 0 30px;
  }
  #twitter_update_list {
    list-style: none;
    color: black;
    float: left;

    li {
      position: relative;
      margin: 10px 0 0;

      div.left {
        position: absolute;
      }
      div.right {
        background: url("../images/twitter_bubbles_2.png") no-repeat;
        width: 25px;
        height: 56px;
        position: absolute;
        right: 0;
        top: -20px;
      }

      &:last-child, &:first-child {
        // border: solid 1px blue;
        div.left {
          background: url("../images/twitter_bubbles_3.png") no-repeat;
          width: 26px;
          height: 56px;
          left: 0;
          top: -20px;
        }

        div.right {
          display: none;
        }
      }

      div.tweet {
        margin: 0 30px 0 35px;
        padding: 5px;
        background: #B5D4D0;
        @include border-radius(5px);
        @include box-shadow(1px 1px 4px #000);
        min-height: 30px;
      }
    }
  }
}

