@import "compass";
@import "grid";

// Grid
$columns: 12;
$column-width: 60px;
$gutter-width: 20px;

// Links
$link-color:         #000;
$link-hover-color:   #144ea9;
$link-focus-color:   false;
$link-active-color:  false;
$link-visited-color: false;

$header-background-color: #5FA69B;
$highlight-color: #144ea9;
$font-color:  #000000;
$font-family: Arial, sans-serif;
$base-font-size:   13px;
$base-line-height: 18px;

$background-color: #87a09d;

$header-spacing: 50px;


// Breakpoints
$break-large: 960px;
$break-medium: 768px;
$break-small: 480px;


@include global-reset;

body {
  font-size: $base-font-size;
  font-family: $font-family;
  line-height: $base-line-height;
  color: $font-color;
  background: url("../images/background.png") $background-color;
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

strong {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

blockquote, blockquote p {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2em;
}

h1 {
  font-size: 3.5em;
  font-weight: normal;
  font-family: 'LeagueGothicRegular', Impact, Arial;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
  text-align: left;
  margin-bottom: 0.5em;
  font-family: 'LeagueGothicRegular', Arial;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

ul {
  margin-bottom: 1em;
}

li {
  margin-bottom: 0.3em;
}

.container {
  @include row(12);
  width: 100%;

  @media only screen and (min-width: $break-large) {
    @include row(12);
  }

  margin: 0 auto !important;
}

@import "header";

ul.nav {
  @include inline-list;

  li {
    margin: 0 5px;
  }
}

#page_title{
  background: rgba($header-background-color, 0.4);
  margin-bottom: $header-spacing;
  padding: 1em 0;

  h1 {
    text-align: center;
    color: #000;
  }
}

#main {
  background: rgba(255, 255, 255, 0.3);
  .container {
    padding: 0 0 $header-spacing 0;

    > div {
      padding-bottom: $header-spacing / 2;
      overflow: hidden;
    }
  }
}

.content {
  margin: 0;
  font-size: 1.2em;
  line-height: 1.4em;

  @media only screen and (max-width: $break-medium - 1) {
    margin: 0 $gutter-width/2;
  }
}

.intro {
  @media only screen and (min-width: $break-medium) {
    @include column(12);
  }
}

@mixin social-background-images($colors, $hover-colors) {
  @each $social_site in twitter, linkedin, github, facebook, googleplus, tumblr {
    &.#{$social-site} {
      a {
        background-image: url("../images/social_#{$social-site}_50#{$colors}.png");
      }
      a:hover {
        background-image: url("../images/social_#{$social-site}_50#{$hover-colors}.png");
      }
    }
  }
}

ul.social {
  li{
    margin: 10px 0;

    a {
      line-height: 56px;
      margin: 0 60px 0 0;
      background: no-repeat left center;
      @include inline-block;
    }

    @include social-background-images(grw, blw);
  }
}

#twitter {
  h4 {
    margin: 0 0 0 30px;
    padding: 0 0 0 30px;
    background: url("../images/twitter_bird.png") no-repeat left bottom;

    a{
      color: #fff;
    }
  }

  #twitter_bird {
    background: url("../images/twitter_bird.png") no-repeat;
    width: 25px;
    height: 17px;
    float: left;
    margin: 0 0 0 30px;
  }
  #twitter_update_list {
    list-style: none;
    color: black;
    float: left;

    li {
      list-style: none;
      position: relative;
      margin: 10px 0 0;

      div.left {
        position: absolute;
      }
      div.right {
        background: url("../images/twitter_bubbles_2.png") no-repeat;
        width: 25px;
        height: 56px;
        position: absolute;
        right: 0;
        top: -20px;
      }

      &.odd {
        div.left {
          background: url("../images/twitter_bubbles_3.png") no-repeat;
          width: 26px;
          height: 56px;
          left: 0;
          top: -20px;
        }

        div.right {
          display: none;
        }
      }

      div.tweet {
        margin: 0 30px 0 35px;
        padding: 5px;
        background: #B5D4D0;
        @include border-radius(5px);
        @include box-shadow(1px 1px 4px #000);
        min-height: 30px;
      }
    }
  }
}

.recent_posts {
  div.post {
    padding: 0;
    margin-bottom: 1.5em;
  }

  p {
    margin-bottom: 0.25em;
  }

  img {
    float: left;
    margin: 0 4px 4px 0;
    max-width: 100%;
  }
}

@import "index";
@import "about";
@import "footer";

// #skills {
//   ul {
//     li {
//       display: block;
//       line-height: 20px;
//       margin: 5px 0;

//       label {
//         width: 50%;
//         text-align: right;
//         float: left;
//         padding-right: 10px;
//       }

//       div {
//         width: 108px;
//         height: 21px;
//         display: inline-block;
//         background: url("../images/levels.png") no-repeat;

//         @for $i from 1 through 10 {
//           &.level#{$i} {
//             width: ($i * 9 + 2 * ($i - 1)) * 1px;
//           }
//         }
//       }
//     }
//   }
// }

// .resume {
//   li {
//     list-style: disc;
//     margin-left: 1.5em;
//   }
//   .container {
//     section {
//       margin-bottom: 2em;
//     }
//   }
// }