<header>
  <div class="container">
    <h1>
      <%= link_to "Julie Pagano", "/index.html" %>
    </h1>
    <nav>
      <ul>
        <li>
          <%=link_to "About", "/about.html" %>
        </li>
        <li>
          <%=link_to "Writing", "/blog.html" %>
        </li>
        <li>
          <%=link_to "Speaking", "/speaking.html" %>
        </li>
      </ul>
    </nav>
  </div>
</header>