<header>
  <h1>
    <a href="/">Julie Pagano</a>
  </h1>
  <nav>
    <ul>
      <li>
        <%=link_to "About", "/about.html" %>
      </li>
      <li>
        <%=link_to "Writing", "/blog.html" %>
      </li>
      <li>
        <%=link_to "Speaking", "/speaking.html" %>
      </li>
    </ul>
  </nav>
</header>