<header>
  <h1>
    <a href="/">Julie Pagano</a>
  </h1>
  <nav>
    <ul>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blog">Writing</a>
      </li>
      <li>
        <a href="/speaking">Speaking</a>
      </li>
    </ul>
  </nav>
</header>