@import "compass";

$logo-img: 'logo.png';
$max-width: 760px;

/*
 * Colors
 * Scheme comes from: http://colorschemedesigner.com/#0041Tojd352Le
 */

$text-color: #000;
$header-color: #9DD0D0;
$alt-header-color1: #324C88;
$alt-header-color2: #A13939;
$alt-header-color3: #349234;
$footer-color: #A1D5A1;
$link-color: #1A8E8E;
$link-active-color: #ED2C2C;
$visited-color: #0D3B3B;

$header-width: 350px;

body {
  color: $text-color;
  font-family: proxima-nova;
  font-size: 18px;
}

h1 {
  color: $alt-header-color1;
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  color: $alt-header-color2;
}

h2, h3, h4 {
  font-weight: 600;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-active-color;
    text-decoration: underline;
  }
}

.container {
  margin: 0 auto;
  max-width: $max-width;
}

header {
  @include clearfix;

  background-color: $header-color;

  a {
    color: $text-color;

    &:hover {
      text-decoration: none;
    }
  }

  h1 {
    background: image-url($logo-img) no-repeat;
    font-size: 55px;
    height: image-height($logo-img);
    margin: 0 auto;
    padding-left: image-width($logo-img) + 10px;
    width: $header-width;

    a:hover {
      color: $text-color;
    }
  }

  nav {
    margin: -35px auto 0 auto;
    padding-left: image-width($logo-img) + 10px;
    width: $header-width;
  }
}

nav {
  ul {
    margin: 0 0 0 -8px;
    padding: 0;
  }

  li {
    display: inline-block;

    a {
      margin: 0 5px;
      padding: 10px 8px;
    }
  }

  a {
    display: block;
  }
}

footer {
  background: $footer-color;
}