@import "compass";
@import "font-awesome/font-awesome";
@import "rouge";
@charset "UTF-8";

$logo-img: 'logo.png';
$logo-img-2x: 'logo-2x.png';
$max-width: 760px;
$padding: 20px;

/*
 * Colors
 * Scheme comes from: http://colorschemedesigner.com/#0041Tojd352Le
 */

$text-color: #000;
$header-color: #9DD0D0;
$alt-header-color1: #324C88;
$alt-header-color2: #A13939;
$alt-header-color3: #349234;
$footer-color: #A1D5A1;
$link-color: #1A8E8E;
$link-active-color: #ED2C2C;
$visited-color: #0D3B3B;

$header-width: 360px;



body {
  background-color: #FFFEFC;
  color: $text-color;
  font-family: proxima-nova;
  font-size: 18px;
  line-height: 1.5em;
}

h1,h2,h3,h4 {
  line-height: 1.2em;
}

h2, h3, h4 {
  font-weight: 600;
}

h1 {
  color: $alt-header-color1;
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  color: $alt-header-color2;
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

p {
  margin: 1.2em 0;
}

a {
  color: $link-color;
  text-decoration: none;
  word-wrap: break-word;

  @include transition-duration(0.5s);
  @include transition-property(color);

  &:hover {
    color: $link-active-color;
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: 2em;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $padding;
}

header {
  @include clearfix;

  background-color: $header-color;
  margin-bottom: 40px;

  a {
    color: $text-color;

    &:hover {
      color: $alt-header-color2;
      text-decoration: none;
    }
  }

  h1 {
    background: image-url($logo-img) no-repeat;
    background-size: image-width($logo-img) image-height($logo-img);
    font-size: 55px;
    height: image-height($logo-img);
    line-height: 1.4em;
    margin: 0 auto;
    padding-left: image-width($logo-img) + 10px;
    width: $header-width;

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: image-url($logo-img-2x);
    }

    a:hover {
      color: $text-color;
    }
  }

  nav {
    margin: -35px auto 0 auto;
    padding-left: image-width($logo-img) + 10px;
    width: $header-width;
  }
}

@media screen and (max-width: 480px) {
  header {
    h1 {
      background-size: 70px;
      font-size: 40px;
      height: 85px;
      line-height: 2em;
      padding-left: 80px;
      width: 100%;
    }

    nav {
      margin-top: 0;
      padding-left: 0;
      text-align: center;
      width: auto;
    }
  }

  header, footer {
    .container {
      padding: 0;
    }
  }
}

nav {
  ul {
    margin: 0 0 0 -8px;
    padding: 0;
  }

  li {
    display: inline-block;

    a {
      margin: 0 5px;
      padding: 10px 8px;
    }
  }

  a {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  nav {
    li {
      a {
        margin: 0 4px;
        padding: 10px 4px;
      }
    }
  }
}

.social {
  li {
    line-height: 1.2em;
    margin-bottom: 0.8em;
  }

  a {
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }
}

.social-nav {
  font-size: 30px;

  li {
    margin-left: 15px;
    margin-right: 0.5em;

    @include inline-block;
  }
}

footer {
  background: $footer-color;
  clear: both;
  margin-top: 50px;

  @include clearfix;

  ul {
    float: left;
    margin: 0;
    padding: 0.5em 0;
  }

  nav ul {
    float: right;
    font-size: 16px;

    @media screen and (max-width: 650px) {
      clear: left;
      float: left;
      padding-top: 0;
    }
  }

  a {
    color: $link-color;

    &:hover {
      color: $alt-header-color1;
    }
  }
}

.pagination {
  margin-right: 1em;
}

.tags {
  a {
     color: desaturate($link-color, 40%);

     &:hover {
      color: desaturate($link-active-color, 40%);
     }
  }
}

/* syntax highlighting */
.highlight, code {
  background-color: #E8E8E8;
  border: solid 1px #D4D4D4;
  font-family: source-code-pro;
  font-size: 0.9em;
}
.highlight {
  @include border-radius(10px);
  padding: 5px 10px;
}
code {
  @include border-radius(5px);
  padding: 0 5px;
}

/* media specific styles */
.youtube {
  height: 315px;
  width: 560px;

  @media screen and (max-width: 600px) {
    height: 150px;
    width: 200px;
  }
}


/* page specific styles */
.index {
  section {
    float: left;
    margin-right: 10%;
    width: 40%;

    @media screen and (max-width: 650px) {
      width: 100%;
      margin-right: 0;
    }

    h3 {
      font-size: 1.1em;
      margin: 0;
    }

    li {
      margin-bottom: 1.5em;
    }

    a {
      color: $text-color;
      font-weight: normal;

      &:hover {
        color: $link-active-color;
      }
    }
  }
}

.article-date {
  float: left;
  margin-right: 1em;
}

.article-details {
  color: #877F7F;
  font-size: 0.9em;
  line-height: 1.3em;

  @include clearfix;
}

#writing-list {
  h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0;

    a {
      color: $alt-header-color2;

      &:hover {
        color: $link-active-color;
      }
    }
  }

  li {
    margin-bottom: 1.5em;
  }

  .tags {
    margin: 0;
  }
}

.writing {
  h1 {
    font-size: 2em;
    margin-bottom: 0.1em;
  }

  ul {
    list-style: disc;
    padding: 0 0 0 30px;
  }
}

#past-events {
  h3, h4 {
    margin: 0.2em 0;
  }

  li {
    margin-bottom: 1.5em;
  }
}

#headshot {
  border: solid 1px $alt-header-color2;
  padding: 5px;

  &:hover {
    border: solid 1px $link-active-color;
  }
}