@import "compass";
@charset "UTF-8";

$logo-img: 'logo.png';
$max-width: 760px;
$padding: 20px;

/*
 * Colors
 * Scheme comes from: http://colorschemedesigner.com/#0041Tojd352Le
 */

$text-color: #000;
$header-color: #9DD0D0;
$alt-header-color1: #324C88;
$alt-header-color2: #A13939;
$alt-header-color3: #349234;
$footer-color: #A1D5A1;
$link-color: #1A8E8E;
$link-active-color: #ED2C2C;
$visited-color: #0D3B3B;

$header-width: 350px;


/*
 * Fonts
 */
@font-face {
  font-family: 'EntypoRegular';
  src: url('fonts/entypo/entypo.eot');
  src: url('fonts/entypo/entypo.eot?#iefix') format('embedded-opentype'),
    url('fonts/entypo/entypo.woff') format('woff'),
    url('fonts/entypo/entypo.ttf') format('truetype'),
    url('fonts/entypo/entypo.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EntypoSocial';
  src: url('fonts/entypo/entypo-social.eot');
  src: url('fonts/entypo/entypo-social.eot?#iefix') format('embedded-opentype'),
    url('fonts/entypo/entypo-social.woff') format('woff'),
    url('fonts/entypo/entypo-social.ttf') format('truetype'),
    url('fonts/entypo/entypo-social.svg#EntypoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #FFFEFC;
  color: $text-color;
  font-family: proxima-nova;
  font-size: 18px;
  line-height: 1.5em;
}

h1,h2,h3,h4 {
  line-height: 1.2em;
}

h1 {
  color: $alt-header-color1;
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  color: $alt-header-color2;
}

h2, h3, h4 {
  font-weight: 600;
}

p {
  margin: 1.2em 0;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-active-color;
    text-decoration: underline;
  }
}

section {
  margin-bottom: 2em;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $padding;
}

header {
  @include clearfix;

  background-color: $header-color;
  margin-bottom: 50px;

  a {
    color: $text-color;

    &:hover {
      color: $alt-header-color2;
      text-decoration: none;
    }
  }

  h1 {
    background: image-url($logo-img) no-repeat;
    font-size: 55px;
    height: image-height($logo-img);
    line-height: 1.4em;
    margin: 0 auto;
    padding-left: image-width($logo-img) + 10px;
    width: $header-width;

    a:hover {
      color: $text-color;
    }
  }

  nav {
    margin: -35px auto 0 auto;
    padding-left: image-width($logo-img) + 10px;
    width: $header-width;
  }
}

nav {
  ul {
    margin: 0 0 0 -8px;
    padding: 0;
  }

  li {
    display: inline-block;

    a {
      margin: 0 5px;
      padding: 10px 8px;
    }
  }

  a {
    display: block;
  }
}

.social {
  list-style: none;
  padding: 0;

  li {
    line-height: 1.2em;
    margin-bottom: 0.8em;
  }

  a {
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }
}

[data-icon]:before {
  content: attr(data-icon);
  display: inline-block;
  font-family: EntypoRegular;
  font-size: 40px;
  height: 25px;
  width: 40px;
  vertical-align: -3px;
}

[data-icon-social]:before {
  content: attr(data-icon-social);
  display: inline-block;
  font-family: EntypoSocial;
  font-size: 40px;
  height: 25px;
  width: 40px;
  vertical-align: -3px;
}

footer {
  background: $footer-color;
  margin-top: 50px;
}


/* page specific styles */
#past-events {
  h3, h4 {
    margin: 0.2em 0;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin-bottom: 1.5em;
  }
}