%script{ :id => "blog-posts-template", :type => "text/x-handlebars-template" }
  {{#each posts}}
  %article
    %header
      %h1
        %a{:href => "{{url}}" }
          {{{title}}}
    %p
      {{{excerpt}}}
    %footer
      %a{ :href => "{{url}}" }
        %span.timestamp
          {{blogTimestamp}}
  {{/each}}

#recent_blog.recent_posts
  %h2
    = link_to "Recent Blog Posts", "http://juliepagano.com/blog/"
  #recent_blog_posts
    loading...