#education.columns{ :class => "#{columns}" }
  %h2 Education
  %h3 University of Pittsburgh &ndash; Pittsburgh, PA
  %h4 B.S. Computer Engineering (08/2007)
  %ul
    %li Affiliations: IEEE (student member and webmaster for student chapter), Eta Kappa Nu honor society, Tau Beta Pi honor society