%footer
  #ribbon
    .top_edge
    .container
      .row
        %section.social.one-third.column
          = partial "twitter"
        %section.one-third.column
          Section.
        %section.about.one-third.column
          %h3 About Me
          .photo
          %p I am a software engineer based in Pittsburgh, PA.  I tend to focus on user experience and front-end web development.  In my free time, I like to indulge my geeky interests and play with my cat (I am a cat lady in training).
      .row
        = partial "social"
    .bottom_edge
  #footer_menu.container
    .eight.columns
      = partial "nav_list"
    .copyright.eight.columns © 2011 Julie Pagano. All Rights Reserved.
