%footer
  %div.top_edge
  %div.container
    %section.social.one-third.column
      Insert social networking stuff here.
    %section.one-third.column
      Section.
    %section.about.one-third.column
      %h3 About Me
      %div.photo
      %p Insert quick blurb about Julie here.
    = partial "nav_list"
    %div.copyright © 2001 Julie Pagano. All Rights Reserved.
  %div.bottom_edge