%footer
  %div#ribbon
    %div.top_edge
    %div.container
      %section.social.one-third.column
        = partial "twitter"
        = partial "social"
      %section.one-third.column
        Section.
      %section.about.one-third.column
        %h3 About Me
        %div.photo
        %p I am a web developer (and burgeoning web designer) in Pittsburgh, PA. I came to Pittsburgh to get my BS in Computer Engineering (from the University of Pittsburgh) and liked it so much I decided to stay.  In my free time, I like to indulge my cinephilia, read comic books, and play with my cat (I am a cat lady in training).
    %div.bottom_edge
  %div#footer_menu.container
    %div.eight.columns
      = partial "nav_list"
    %div.copyright.eight.columns © 2011 Julie Pagano. All Rights Reserved.
