%footer
  %section.social
    Insert social networking stuff here.
  %section.about
    Insert quick blurb about Julie here.
  = partial "nav_list"
  %div.copyright © 2001 Julie Pagano. All Rights Reserved.