%footer
  #ribbon
    .top_edge
    .container
      %section.tweets
        = partial "twitter"
      %section.about
        %h3 About Me
        .photo
        %p I am a software engineer based in Pittsburgh, PA.  I tend to focus on user experience and front-end web development.  In my free time, I like to indulge my geeky interests and play with my cat (I am a cat lady in training).
      %section.contact
        %h3 Contact
        %ul
          %li
            %strong Twitter:
            = link_to "@juliepagano", "https://twitter.com/#!/juliepagano"
          %li
            %strong Gmail:
            Julie.Pagano
          %li
            %strong irc (freenode):
            jpagano
    .container
      = partial "social"
    .bottom_edge
  #footer_menu.container
    = partial "nav_list"
    .copyright © 2011 Julie Pagano. All Rights Reserved.
