%ul
  %li
    %label HTML
    %div.level8
  %li
    %label CSS
    %div.level8
  %li
    %label JavaScript
    %div.level6
  %li
    %label XML
    %div.level8
  %li
    %label Ruby/Rails
    %div.level2
  %li
    %label Database (MySQL)
    %div.level3