%script{ :id => "tumblr-posts-template", :type => "text/x-handlebars-template" }
  {{#each posts}}
  %div.post.clearfix
    {{#if photos}}
    {{{tumblrPhoto}}}
    {{/if}}

    {{#if player}}
    {{{tumblrVideo}}}
    {{/if}}

    {{#if title}}
    %strong {{{title}}}
    {{/if}}

    {{#if body}}
    %p
      %span.body {{{body}}}
    {{/if}}

    {{#if caption}}
    %p
      %span.body {{{caption}}}
    {{/if}}

    {{#if text}}
    %p
      %span.body {{{text}}}
    {{/if}}

    %a{ :href => "{{post_url}}" }
      %span.timestamp
        {{tumblrTimestamp}}
  {{/each}}

#recent_tumblr.one-third.column.offset-by-one.recent_posts
  %h2
    = link_to "Recent Tumblr Posts", "http://juliepagano.tumblr.com/"
  #recent_tumblr_posts
    loading...

= javascript_include_tag "tumblr"
= javascript_include_tag "http://api.tumblr.com/v2/blog/juliepagano.tumblr.com/posts?api_key=en2fm1R1yO5Pxfrd2viVMP1TJ0sC0qOhLNZtXsOsmdqoA0i3na&jsonp=tumblrCallback&limit=3"