#experience.columns{ :class => "#{columns}" }
  %h2 Work Experience
  %h3 Vivisimo, Inc &ndash; Pittsburgh, PA
  %h4 Software Engineer I (10/2011-present)
  %ul
    %li Developing software using Ruby on Rails with a focus on user experience.
    %li Supporting legacy software using XML and XSL.
    %li Working with software engineering practices with a focus on Agile and TDD.
  %h4 Senior Applications Engineer (08/2007-10/2011)
  %ul
    %li Managed a team of three applications engineers in deploying and configuring Velocity for customers through professional services.
    %li Worked regularly with customers as the project technical lead to evaluate their needs and provide them with solutions using search and web technologies.
    %li Worked on several projects that leveraged the customer’s geospatial data and the Google Maps API to allow users to search for data related to a geographic region and interact with that information using a map interface.
    %li Helped new employees become productive team members by mentoring them, developing interactive training exercises, and presenting information about best practices.
    %li Coordinated cross-departmental training and knowledge-sharing meetings that provided an educational opportunity for the Professional Services, Engineering, and Support departments.
    %li Assisted the Engineering department with prototype development for a new software offering and later participated in the development process for that software.
    %li Earned a promotion in October 2010 based on superior performance in technical skills, leadership, and communication with customers.
    %li Developed an internal tool that leveraged time tracking data to provide valuable insight into development progress and saved resources by automating tasks that were regularly performed by management.
    %li Performed as the team lead and architect for a project that won an internal programming contest to develop a new product feature.  The project was used to increase interest in new versions of the software with several strategic customers.

  %h3 University of Pittsburgh &ndash; Pittsburgh, PA
  %h4 Student Web Developer (01/2007-12/2007)
  %ul
    %li Designed, developed, and maintained a paper submission system for the ACM Sigmod Record publication using PHP and MySQL.  This system improved the review and publication process for the current editor by allowing him to meet publication deadlines, facilitating communications, and minimizing loss of submissions.

  %h3 ANSYS, Inc. &ndash; Canonsburg, PA
  %h4 Co-op Student (01/2005-08/2006)
  %ul
    %li Designed and maintained web applications for internal and public sites using HTML, JavaScript, C++, C#, ASP.NET, MySQL, test-driven development, and pair programming.
    %li Served as the project lead for the development of several internal applications.
    %li Redesigned the web application used to evaluate the results of automated software testing to improve performance and usability.
    %li Executed manual and automated software testing and helped streamline the testing process for better testing coverage.