---
title: About
---

<article>
  <h1>About</h1>

  <section>
    <h2>Julie</h2>
    <p>Fill in with info about Julie.</p>
  </section>
  <section>
    <h2>Community</h2>
    <p>Include a list of information about my community involvement.</p>
  </section>
  <section>
    <h2>Where to find me</h2>
    <ul class="social">
      <li>
        <a href="https://twitter.com/juliepagano"
           data-icon-social="&#62217;">Twitter</a>
      </li>
      <li>
        <a href="http://juliepagano.tumblr.com/"
           data-icon-social="&#62229;">Tumblr</a>
      </li>
      <li>
        <a href="https://github.com/juliepagano"
          data-icon-social="&#62208;">GitHub</a>
      </li>
      <li>
        <a href="https://speakerdeck.com/juliepagano"
           data-icon="&#127748;">Speaker Deck</a>
      </li>
      <li>
        <a href="http://lanyrd.com/profile/juliepagano/"
           data-icon="&#59175;">Lanyrd</a>
      </li>
      <li>
        <a href="https://www.gittip.com/juliepagano/"
           data-icon="&hearts;">Gittip</a>
      </li>
      <li>
        <a href="https://plus.google.com/106821554349844606311"
           data-icon-social="&#62223;">Google Plus</a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/juliepagano"
           data-icon-social="&#62232;">LinkedIn</a>
      </li>
    </ul>
    <script data-gittip-username="juliepagano"
            src="https://www.gittip.com/assets/widgets/0002.js">
    </script>
  </section>
  <section>
    <h2>Site</h2>
    <p>This site was developed using
      <a href="http://middlemanapp.com/">Middleman</a>,
      <a href="http://pages.github.com/">GitHub Pages</a>, and
      <a href="https://github.com/neo/middleman-gh-pages">Middleman GitHub Pages</a>.
      <a href="http://www.entypo.com/">Entypo pictograms</a> by Daniel Bruce.
    </p>
  </section>
</article>

