---
title: About
---

<article>
  <section>
    <h1>Julie</h1>
    <p>Fill in with info about Julie.</p>
  </section>
  <section>
    <h1>Community</h1>
    <p>Include a list of information about my community involvement.</p>
  </section>
  <section>
    <h1>Where to find me</h1>
    <p>fill with a list of social networks and related locations</p>
  </section>
  <section>
    <h1>Site</h1>
    <p>This site was developed using
      <a href="http://middlemanapp.com/">Middleman</a>,
      <a href="http://pages.github.com/">GitHub pages</a>, and
      <a href="https://github.com/neo/middleman-gh-pages">Middleman GitHub Pages</a>
    </p>
  </section>
</article>

