---
title: About
---

<article>
  <section>
    <h1>Julie</h1>
    <p>Fill in with info about Julie.</p>
  </section>
  <section>
    <h1>Community</h1>
    <p>Include a list of information about my community involvement.</p>
  </section>
  <section>
    <h1>Where to find me</h1>
    <ul>
      <li>
        <a href="https://twitter.com/juliepagano">Twitter</a>
      </li>
      <li>
        <a href="http://juliepagano.tumblr.com/">Tumblr</a>
      </li>
      <li>
        <a href="https://github.com/juliepagano">GitHub</a>
      </li>
      <li>
        <a href="https://speakerdeck.com/juliepagano">Speaker Deck</a>
      </li>
      <li>
        <a href="http://lanyrd.com/profile/juliepagano/">Lanyrd</a>
      </li>
      <li>
        <a href="https://www.gittip.com/juliepagano/">Gittip</a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/juliepagano">LinkedIn</a>
      </li>
    </ul>
  </section>
  <section>
    <h1>Site</h1>
    <p>This site was developed using
      <a href="http://middlemanapp.com/">Middleman</a>,
      <a href="http://pages.github.com/">GitHub Pages</a>, and
      <a href="https://github.com/neo/middleman-gh-pages">Middleman GitHub Pages</a>
    </p>
  </section>
</article>

