---
title: About
---

<article>
  <h1>About</h1>
  <section>
    <h2>Julie</h2>
    <p>Julie is a software engineer who likes to focus on the front-end and user experience, an intersectional feminist, a cat lady, and a level 15 wizandrist. When she's not working at her day job, she focuses on championing diversity in tech and building the Pittsburgh tech community. She organizes and teaches classes for the Pittsburgh chapter of Girl Develop It, an organization that helps teach women how to code.</p>

    <p>Julie is also known for her smashing Feminist Hulk impressions and her Roomba-powered cat army. If you listen carefully, you may be able to hear her screaming the catchphrase, "my technology will be intersectional or it will be BULLSHIT!"</p>
  </section>
  <section>
    <h2>Contact me</h2>
    <p>You can contact me via <a href="mailto:julie@juliepagano.com">my email</a>
      for general inquiries.
      Please use <a href="mailto:julie.pagano@girldevelopitpgh.com">my GDI email</a> for inquiries
      related to Girl Develop It Pittsburgh.</p>
    <p>Press inquiries must be cleared with my employer. Please
      <a href="mailto:press@google.com">contact them</a> first if you are a
      member of the press and would like to speak with me.</p>
    <p>I strongly recommend reviewing my
      <%= link_to "101 off limits", "/blog/2013/11/02/101-off-limits/" %>
      list before contacting
     me about feminism or diversity-related issues.</p>
  </section>
  <section>
    <h2>Where to find me</h2>
    <ul class="social fa-ul">
      <li>
        <a href="https://twitter.com/juliepagano">
          <i class="fa-li fa fa-twitter"></i>Twitter
        </a>
      </li>
      <li>
        <a href="http://juliepagano.tumblr.com/">
          <i class="fa-li fa fa-tumblr-square"></i>Tumblr
        </a>
      </li>
      <li>
        <a href="https://github.com/juliepagano">
          <i class="fa-li fa fa-github-alt"></i>GitHub
        </a>
      </li>
      <li>
        <a href="https://speakerdeck.com/juliepagano">
          <i class="fa-li fa fa-picture-o"></i>Speaker Deck
        </a>
      </li>
      <li>
        <a href="http://lanyrd.com/profile/juliepagano/">
          <i class="fa-li fa fa-map-marker"></i>Lanyrd
        </a>
      </li>
      <li>
        <a href="https://www.gittip.com/juliepagano/">
          <i class="fa-li fa fa-gittip"></i>Gittip
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/106821554349844606311">
          <i class="fa-li fa fa-google-plus-square"></i>Google Plus
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/juliepagano">
          <i class="fa-li fa fa-linkedin-square"></i>LinkedIn
        </a>
      </li>
      <li>
        <a href="http://www.flickr.com/photos/juridatenshi/">
          <i class="fa-li fa fa-flickr"></i>Flickr
        </a>
      </li>
    </ul>
    <script data-gittip-username="juliepagano"
            src="https://www.gittip.com/assets/widgets/0002.js">
    </script>
  </section>
  <section>
    <h2>Site</h2>
    <p>This site was developed using
      <a href="http://middlemanapp.com/">Middleman</a>,
      <a href="http://pages.github.com/">GitHub Pages</a>, and
      <a href="https://github.com/neo/middleman-gh-pages">Middleman GitHub Pages</a>.
      <a href="http://fontawesome.io">Font Awesome by Dave Gandy</a>.
    </p>
    <p>
      <%= link_to "<i class=\"fa fa-rss\"></i> rss feed", "/blog/feed.xml" %>
    </p>
  </section>
</article>

