- content_for :head do
  %title Julie Pagano
- content_for :page_title do
  %h1 ABOUT ME

.twelve.columns
  %p
    I am a web developer based in Pittsburgh, PA.  I mostly focus on front-end development and user experience.  I am working to improve my design skills, so that I can also tout the title of web designer.
  %p
    I came to Pittsburgh to get my BS in Computer Engineering from the University of Pittsburgh (CMU was waaaaay too expensive). I liked it so much I decided to stay.
  %p
    In my free time, I like to indulge my cinephilia, read comic books, and play with my cat (I am a cat lady in training).

.four.columns
  = image_tag "circle_photo_large.png"

= partial "activities", :locals => {:columns => "eight"}
= partial "education", :locals => {:columns => "eight"}
