- content_for :head do
  %title Julie Pagano

- content_for :page_title do
  %h1 BLOG

%div.content
  %div.blog_posts
    %article
      %header
        %h1
          Blog Post Title
        .date
          %span.month Jun
          %span.day 03
          %span.year 2012
        .entry-timestamp
          June 13, 2012 at 7:54 pm
      %p
        Wafer gummies soufflé pudding cotton candy faworki halvah donut bear claw. Carrot cake sweet jelly sugar plum. Chocolate jelly beans faworki biscuit pie chocolate cake croissant croissant lemon drops. Fruitcake liquorice sweet roll gingerbread dragée applicake applicake wypas. Jelly-o wafer brownie jujubes croissant. Sweet roll chocolate bar tootsie roll. Tootsie roll tootsie roll muffin pastry jelly macaroon pie jelly-o. Donut tiramisu caramels. Oat cake jelly beans pudding sweet sweet icing. Brownie chocolate cake chupa chups gingerbread.
      %p
        Wafer chocolate bar marshmallow chupa chups. Donut gummies soufflé fruitcake pastry. Pastry toffee lollipop liquorice cheesecake cheesecake wypas bear claw. Toffee chocolate bar chupa chups cookie candy chocolate topping. Cheesecake chocolate bar dessert carrot cake. Croissant lollipop apple pie croissant jelly-o danish. Biscuit toffee gummi bears cotton candy chocolate cheesecake. Cupcake chocolate pudding soufflé jelly beans fruitcake liquorice.
      %p
        Sugar plum lemon drops candy canes lollipop chocolate bar marzipan bonbon caramels pastry. Oat cake fruitcake tart jujubes tart. Pastry tootsie roll dragée caramels carrot cake cotton candy topping. Dessert pudding cheesecake ice cream pie bonbon caramels pudding toffee. Powder powder bonbon pudding candy fruitcake toffee cupcake chocolate cake. Lollipop croissant chocolate bar jelly-o halvah. Chupa chups toffee wypas sugar plum topping muffin biscuit.
      %footer
        .entry-categories
          %strong
            Categories:
          %ul
            %li
            %li
              %a
                feminism
            %li
              %a
                test
        .entry-timestamp
          June 13, 2012 at 7:54 pm

    %article
      %header
        %h1
          Blog Post Title
        .date
          %span.month Jun
          %span.day 03
          %span.year 2012
      %p
        Wafer gummies soufflé pudding cotton candy faworki halvah donut bear claw. Carrot cake sweet jelly sugar plum. Chocolate jelly beans faworki biscuit pie chocolate cake croissant croissant lemon drops. Fruitcake liquorice sweet roll gingerbread dragée applicake applicake wypas. Jelly-o wafer brownie jujubes croissant. Sweet roll chocolate bar tootsie roll. Tootsie roll tootsie roll muffin pastry jelly macaroon pie jelly-o. Donut tiramisu caramels. Oat cake jelly beans pudding sweet sweet icing. Brownie chocolate cake chupa chups gingerbread.
      %p
        Wafer chocolate bar marshmallow chupa chups. Donut gummies soufflé fruitcake pastry. Pastry toffee lollipop liquorice cheesecake cheesecake wypas bear claw. Toffee chocolate bar chupa chups cookie candy chocolate topping. Cheesecake chocolate bar dessert carrot cake. Croissant lollipop apple pie croissant jelly-o danish. Biscuit toffee gummi bears cotton candy chocolate cheesecake. Cupcake chocolate pudding soufflé jelly beans fruitcake liquorice.
      %p
        Sugar plum lemon drops candy canes lollipop chocolate bar marzipan bonbon caramels pastry. Oat cake fruitcake tart jujubes tart. Pastry tootsie roll dragée caramels carrot cake cotton candy topping. Dessert pudding cheesecake ice cream pie bonbon caramels pudding toffee. Powder powder bonbon pudding candy fruitcake toffee cupcake chocolate cake. Lollipop croissant chocolate bar jelly-o halvah. Chupa chups toffee wypas sugar plum topping muffin biscuit.
      %footer
        .entry-categories
          %strong
            Categories:
          %ul
            %li
            %li
              %a
                feminism
            %li
              %a
                test
        .entry-timestamp
          June 13, 2012 at 7:54 pm
      %section.comment-container
        2 comments
        %section.comments
    .pagination
      %a Previous Page
      %a Next Page
  .sidebar
    %ul
      %li#meta-3.widget.widget_meta
        %h2.widgettitle Meta
        %ul
          %li
            %a{:href => "http://localhost:8888/wordpress/wp-admin/"} Site Admin
          %li
            %a{:href => "http://localhost:8888/wordpress/wp-login.php?action=logout&_wpnonce=cce65e5c72"} Log out
          %li
            %a{:href => "http://localhost:8888/wordpress/?feed=rss2", :title => "Syndicate this site using RSS 2.0"}
              Entries
              %abbr{:title => "Really Simple Syndication"} RSS
          %li
            %a{:href => "http://localhost:8888/wordpress/?feed=comments-rss2", :title => "The latest comments to all posts in RSS"}
              Comments
              %abbr{:title => "Really Simple Syndication"} RSS
          %li
            %a{:href => "http://wordpress.org/", :title => "Powered by WordPress, state-of-the-art semantic personal publishing platform."} WordPress.org
      %li#linkcat-2.widget.widget_links
        %h2.widgettitle Blogroll
        %ul.xoxo.blogroll
          %li
            %a{:href => "http://codex.wordpress.org/"} Documentation
          %li
            %a{:href => "http://wordpress.org/extend/plugins/"} Plugins
          %li
            %a{:href => "http://wordpress.org/extend/ideas/"} Suggest Ideas
          %li
            %a{:href => "http://wordpress.org/support/"} Support Forum
          %li
            %a{:href => "http://wordpress.org/extend/themes/"} Themes
          %li
            %a{:href => "http://wordpress.org/news/"} WordPress Blog
          %li
            %a{:href => "http://planet.wordpress.org/"} WordPress Planet
      %li#archives-3.widget.widget_archive
        %h2.widgettitle Archives
        %ul
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201206", :title => "June 2012"} June 2012
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201205", :title => "May 2012"} May 2012
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201204", :title => "April 2012"} April 2012
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201202", :title => "February 2012"} February 2012
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201201", :title => "January 2012"} January 2012
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201110", :title => "October 2011"} October 2011
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201109", :title => "September 2011"} September 2011
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201108", :title => "August 2011"} August 2011
          %li
            %a{:href => "http://localhost:8888/wordpress/?m=201008", :title => "August 2010"} August 2010
      %li#calendar-2.widget.widget_calendar
        %h2.widgettitle  
        #calendar_wrap
          %table#wp-calendar
            %caption June 2012
            %thead
              %tr
                %th{:scope => "col", :title => "Monday"} M
                %th{:scope => "col", :title => "Tuesday"} T
                %th{:scope => "col", :title => "Wednesday"} W
                %th{:scope => "col", :title => "Thursday"} T
                %th{:scope => "col", :title => "Friday"} F
                %th{:scope => "col", :title => "Saturday"} S
                %th{:scope => "col", :title => "Sunday"} S
            %tfoot
              %tr
                %td#prev{:colspan => "3"}
                  %a{:href => "http://localhost:8888/wordpress/?m=201205", :title => "View posts for May 2012"} « May
                %td.pad  
                %td#next.pad{:colspan => "3"}  
            %tbody
              %tr
                %td.pad{:colspan => "4"}  
                %td 1
                %td 2
                %td
                  %a{:href => "http://localhost:8888/wordpress/?m=20120603", :title => "MidwestUX 2012: in which our narrator learns how awesome the UX community is\r\nMWUX 2012 Recap: Workshops!"} 3
              %tr
                %td 4
                %td 5
                %td 6
                %td 7
                %td 8
                %td 9
                %td
                  %a{:href => "http://localhost:8888/wordpress/?m=20120610", :title => "MWUX 2012 Recap: Additional Sketchnotes\r\nPittsburgh Tech Fest"} 10
              %tr
                %td
                  %a{:href => "http://localhost:8888/wordpress/?m=20120611", :title => "Diversity in Tech Resources"} 11
                %td 12
                %td
                  %a{:href => "http://localhost:8888/wordpress/?m=20120613", :title => "Feminist hulk focus for tech community smash!"} 13
                %td 14
                %td 15
                %td#today 16
                %td 17
              %tr
                %td 18
                %td 19
                %td 20
                %td 21
                %td 22
                %td 23
                %td 24
              %tr
                %td 25
                %td 26
                %td 27
                %td 28
                %td 29
                %td 30
                %td.pad{:colspan => "1"}  