- content_for :head do
  %title Julie Pagano

- content_for :page_title do
  %h1 WELCOME

%div.sixteen.columns.content
  %p
    Hi! My name is Julie. Welcome to my web site.

= partial "blog"

= partial "tumblr"
