- content_for :head do
  %title Julie Pagano

- content_for :page_title do
  %h1 WELCOME

%div.sixteen.columns.content
  %p
    Hi! My name is Julie. Welcome to my web site.

= partial "blog"

#conferences.one-third.column
  %h2
    = link_to "Upcoming Conferences", "http://lanyrd.com/profile/juliepagano/"
  .lanyrd-target-splat
    =link_to "more at Lanyrd", "http://lanyrd.com/profile/juliepagano/",
                               :class => "lanyrd-splat lanyrd-number-3 lanyrd-context-future",
                               :rel   => "me"
