---
title: Projects
---

<article>
  <h1>Projects</h1>

  <section>
    <h2>Girl Develop It Pittsburgh</h2>
    <p>I am the chapter leader for the <a href="http://www.meetup.com/Girl-Develop-IT-Pittsburgh/">Pittsburgh chapter</a> of <a href="http://girldevelopit.com/">Girl Develop It</a>.
      I help teach and TA classes throughout the year.</p>
  </section>

  <section>
    <h2>Tech speaker support group</h2>
    <p>I run a semi-regular support group for people interested in getting
      help and ideas to speak at tech events and conferences. The group focuses
      on underrepresented speakers, but includes people with a variety of
      backgroungs and level of experience.</p>
  </section>

  <section>
    <h2>Programming interview coaching</h2>
    <p>I occasionally help people prepare for technical interviews with
      interview coaching. I focus these efforts on underrepresented groups.</p>
  </section>

  <section>
    <h2>Diversity in tech education</h2>
    <p>I educate people about how to improve diversity in tech in a variety of
      ways including <%=link_to "writing", "/blog.html" %>,
      <%=link_to "public speaking", "/speaking.html" %>, and discussion.</p>
  </section>

  <section>
    <h2>Past Projects</h2>

    <section>
      <h3>Steel City Ruby Conf</h3>
      <p>Member of the organizing committee in 2012 and 2013.</p>
    </section>
  </section>
</article>