- content_for :head do
  %title Julie Pagano
- content_for :page_title do
  %h1 MY RESUME

%div.sixteen.columns
  %section#summary.sixteen.columns
    %h2 Summary
    Software developer with over five years experience working with web technologies.

  %section#skills.sixteen.columns
    %h2 Skills
    %h3 Web Development
    %ul
      %li Web Development: HTML, CSS, JavaScript, AJAX, XML/XSL, Ruby on Rails, PHP, ASP.NET, JSP
    %h3 Languages
    %ul
      %li Languages: Ruby, C#, VB/VBA/VBS, Java, Perl, shell scripting
    %h3 Platforms
    %ul
      %li Platforms: OSX, Unix/Linux, Windows
    %h3 Software/Technologies
    %ul
      %li Software/Technologies: version control (Git, CVS), web servers (Apache, IIS), databases (MySQL, SQLite, Oracle), Vivisimo Velocity, MS Visual Studio, NUnit, Microsoft Office
    %h3 Development Practices
    %ul
      %li Development Practices: Agile, Scrum, TDD, pair programming, Kanban

  = partial "work_experience", :locals => {:columns => "eight"}

  = partial "education", :locals => {:columns => "eight"}

  = partial "activities", :locals => {:columns => "eight"}
