---
title: Speaker Info
---

<article>
  <h1>Speaker Info</h1>

  <section>
    <h2>Headshot</h2>
    <p>Click for full size</p>
    <%= link_to (image_tag "headshot.jpg", :width => '200', :id => "headshot"),
                 "images/headshot.jpg" %>
  </section>

  <section>
    <h2>Bio</h2>
    <p>Julie is a software engineer who likes to focus on the front-end and user experience. When she's not working at her day job, she focuses on championing diversity in tech and building the Pittsburgh tech community. She organizes and teaches classes for the Pittsburgh chapter of Girl Develop It, an organization that helps teach women how to code.</p>

    <p>Julie is also known for her smashing Feminist Hulk impressions and her army of firebees.</p>
  </section>

  <section>
    <h2>Short Bio</h2>
    <p>Julie is a software engineer who likes to focus on the front-end and user experience. When she's not working at her day job, she focuses on championing diversity in tech and building the Pittsburgh tech community.</p>
  </section>

  <section>
    <h2>Speaking Experience</h2>
    <p>See <a href="http://lanyrd.com/profile/juliepagano/past/speaking/">Lanyrd</a>
        and <%= link_to "my speaking page", "speaking.html" %></p>
  </section>

  <section>
    <h2>Links</h2>
    <ul>
      <li>
        <strong>Website:</strong>
        <a href="http://juliepagano.com">http://juliepagano.com</a>
      </li>
      <li>
        <strong>Twitter:</strong>
        <a href="https://twitter.com/juliepagano">@juliepagano</a>
      </li>
      <li>
        <strong>Github:</strong>
        <a href="https://github.com/juliepagano">https://github.com/juliepagano</a>
      </li>
    </ul>
  </section>

  <section>
    <h2>Considerations</h2>
    <p>I currently only speak at conferences that have a clear anti-harassment policy
       or code of conduct. I would be happy to help you develop one, if you do not currently have one.</p>
    <p>I am more likely to speak at conferences that are close to Pittsburgh or
      help cover the cost of travel and accommodations.</p>
  </section>
</article>